.card {
  width: clamp(310px, 50vw, 350px);
  height: clamp(220px, 50vw, 250px);
  padding: 21px 30px;
  border-radius: 5px;
  box-shadow: 1px 8px 22px -10px var(--Grayish-Blue);
}
.card__supervisor {
  border-top: 4px solid var(--Cyan);
}
@media only screen and (min-width: 1140px) {
  .card__supervisor {
    grid-column: 1/2;
    grid-row: 2/4;
  }
}
.card__team-builder {
  border-top: 4px solid var(--Red);
}
@media only screen and (min-width: 1140px) {
  .card__team-builder {
    grid-column: 2/3;
    grid-row: 1/3;
  }
}
.card__karma {
  border-top: 4px solid var(--Orange);
}
@media only screen and (min-width: 1140px) {
  .card__karma {
    grid-column: 2/3;
    grid-row: 3/5;
  }
}
.card__calculator {
  border-top: 4px solid var(--Blue);
}
@media only screen and (min-width: 1140px) {
  .card__calculator {
    grid-column: 3/4;
    grid-row: 2/4;
  }
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
}

header .wrapper {
  margin: 14px auto 5px auto;
  width: clamp(310px, 50vw, 520px);
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

main .wrapper {
  display: grid;
  gap: 30px;
  margin-bottom: 40px;
}

html {
  box-sizing: border-box;
  font-size: 0.9275rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

img {
  float: right;
  display: block;
}

:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}

h1 span {
  font-size: clamp(25px, 2.8vw, 35px);
  line-height: 2.5rem;
}
@media only screen and (min-width: 1140px) {
  h1 span {
    line-height: 3.5rem;
  }
}
h1 span.first-title {
  color: var(--Very-Dark-Blue);
  font-family: "Poppins-ExtraLight";
  font-weight: lighter;
}
h1 span.second-title {
  font-family: "Poppins-Semibold";
  color: var(--Very-Dark-Blue);
  display: block;
}

h2 {
  font-family: "Poppins-Semibold";
  color: var(--Very-Dark-Blue);
  line-height: 0.5rem;
}

p {
  font-family: "Poppins-Regular";
  color: var(--Grayish-Blue);
  line-height: 1.6rem;
}

.card p {
  font-size: 0.9rem;
  padding-bottom: 0;
}
@media only screen and (min-width: 1140px) {
  .card p {
    padding-bottom: 24px;
  }
}

@font-face {
  font-family: "Poppins-ExtraLight";
  font-weight: 200;
  src: url("../../assets/fonts/Poppins-ExtraLight.woff2") format("woff2"), url("../../assets/fonts/Poppins-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: "Poppins-Regular";
  font-weight: 400;
  src: url("../../assets/fonts/Poppins-Regular.woff2") format("woff2"), url("../../assets/fonts/Poppins-Regular.woff") format("woff");
}
@font-face {
  font-family: "Poppins-SemiBold";
  font-weight: 600;
  src: url("../../assets/fonts/Poppins-SemiBold.woff2") format("woff2"), url("../../assets/fonts/Poppins-SemiBold.woff") format("woff");
}/*# sourceMappingURL=style.css.map */